/* 自定义字体 */
@font-face {
    font-family: 'sleek';
    src: url('https://cdn.jsdelivr.net/gh/lete114/CDN2/zaxiang/sleek.woff2');
}

/* 版权链接去掉下划线 */

.layout_post .post-copyright .post-copyright-info a {
    text-decoration: none;
}


/* 博主昵称颜色 */
.author-info__name {
    color: #ff7242;
}


/* 评论框  */

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}


/* 提交按钮 */

#vcomment button {
    padding: 0.3rem 0.8rem;
    border-color: #fff;
    background-color: #e58a8a;
    color: #fff;
    font-size: 0.7rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}


/* 评论区代码块 */

.v[data-class=v] code {
    color: #c7254e;
    background-color: #F9F2F4;
}
/* 设置评论框 */

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* 取消回复聊天框 */

.vquote .vcard {
    box-shadow: 2px 2px 5px transparent;
    background: rgba(255, 255, 255, 0.0);
    padding: 0px;
}


/* header背景透明 */

#page-header {
    background-color: transparent;
}



/* 页脚透明 */

#footer {
    background: transparent !important;
}




/*文章透明*/



.layout_post>#post {
    background: rgba(255, 255, 255, .9);
}




/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
    #aside_content div:not(:last-child) {
        display: none;
        font-size: 13px;
    }
}

/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #e58a8a;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}


/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #80bdab;
}
/* 顶部导航栏 */
#nav a {
    color: #f9f2f4;
}

/*页脚a标签字体颜色*/
#footer-wrap a {
    color: #00c4b6;
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
.footer_custom_text {
    color: #00c4b6;
}





